.about_me_header {
  color: #727bf2;
  text-align: center;
  margin-top: 5%;
}

.about_me_matter {
  margin: auto;
  margin-top: 3%;
  padding: 2%;
  background-color: #4d4d4d;
  color: #ebebeb;
  border-radius: 15px;
}

.all_contacts {
  margin: auto;
  margin-top: 2%;
  justify-content: space-evenly;
}

.icon {
  background-color: #4d4d4d;
}

.contact {
  display: inline;
  background-color: #4d4d4d;
  color: #ebebeb;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-left: 2%;
}
