.arrow {
  font-size: x-large;
}
.button {
  margin-left: 8px;
  display: inline;
  height: 48px;
  width: 100%;
  background: #29ab87;
  border-color: #29ab87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.buttonwhite {
  margin-left: 8px;
  font-size: small;
  display: inline;
  height: 48px;
  width: 100%;
  background: white;
  border-color: #29ab87;
  color: #858585;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.inputbox {
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  border: 2px solid #29ab87;
  box-sizing: border-box;
}

.forget {
  font-size: small;
  width: auto;
  color: #29ab87;
  display: inline-flex;
}
.fontsmall {
  font-size: small;
  color: #858585;
}
.fontgreen {
  color: #29ab87;
}
.purple {
  color: #767bfe;
}
.rightBox {
  width: 80%;
  height: auto;
  background-color: white;
  margin: 10%;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 1199px) and(min-width:768px) {
  .rightBox {
    width: 90%;
    margin: 5% 0% 5% 10%;
  }
}
@media (max-width: 440px) {
  .rightBox {
    width: 90%;
    margin: 5%;
  }
}

.upload_button {
  height: auto;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #29ab87;
  cursor: pointer;
  color: #858585;
  font-weight: 600;
}

.upload {
  height: 35px;
  width: 35px;
}
