.work_header {
  color: #727bf2;
  text-align: center;
  margin-top: 5%;
}

.image {
  border-radius: 30px;
}

.company {
  margin-top: 8%;
}

.date {
  color: #767bfe;
  font-size: 1rem;
}

.company_name {
  margin-top: 5%;
  color: #4b4a4a;
  font-size: 1.5rem;
  font-weight: 625;
}

.company_matter {
  margin-top: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #969696;
}
