@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card{
position: absolute;
width: 254px;
height: 540px;
left: 50px;
top: 15px;
border-radius: 16px;
box-shadow: 1px 1px 10px rgb(206, 206, 206);
font-family: Poppins;
background-color: white;
}
.search{
position: relative;
height: 38px;
top: 11px;
}

.bar{
  background-color: #f1f1f1;
  border-radius: 100px;
  border: none;
}

.fa {
    color: #707070;
}

.title{
font-family: Poppins;
font-style: normal;
font-weight:bolder;
font-size: 14px;
line-height: 21px;
margin-top: 40px;
margin-bottom: 10px;
color: #000000;
}

.text{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
/* identical to box height */
margin-top: 6px;
margin-bottom: 6px;
color: #555555;
}

.link{
color:#20C95C;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
}