.image {
  border-radius: 40px;
}

.hello_msg {
  margin-top: 2%;
  color: #3d3d3d;
}

.pencil_icon {
  margin-right: 0;
}

.i_am {
  margin-top: 8%;
  color: #3d3d3d;
}

.name {
  color: #727bf2;
  font-size: 4 rem;
  font-weight: 700;
}

.intro_text {
  color: #353535;
  margin-top: 8%;
  font-size: 1.2rem;
  font-weight: 400;
}

.button {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #20c95c;
  font-size: 1.2rem;
  padding-top: 10px;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  margin-top: 8%;
}

.all_icons {
  margin-top: 8%;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}
