.body {
    text-align: center;
    margin-top: 6.5rem;
}

.Coming_Soon {
    color: #787878;
    margin-top: 0.5rem;
    font-size: 30px;
}

.Def {
    color: #848484;
    font-size: 16px;
}

.a {
    color: #949CDA;
}