.edu_header {
  color: #727bf2;
  text-align: center;
  margin-top: 5%;
}

.image {
  border-radius: 30px;
}

.institute {
  margin-top: 8%;
}

.date {
  color: #767bfe;
  font-size: 1rem;
}

.institute_name {
  margin-top: 5%;
  color: #ebebeb;
  font-size: 1.5rem;
  font-weight: 625;
}

.institute_matter {
  margin-top: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #d6d6d6;
}
