.button {
  height: 48px;
  width: 100%;
  background: #550202;
  border-color: #550202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  font-size: large;
}

.button:hover{
  background: #741c1c;
}

.inputbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.inputbox:hover {
  border: 1.5px solid #550202;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.browncolor{
  color: #550202;
  font-weight: 500;
}

.fontsmall {
  font-size: small;
  color: #858585;
}
.fontbrown {
  color: #550202;
  cursor: pointer;
  font-weight: bold;
}

.fontbrown:hover{
  text-decoration: none;
  color: #741c1c;
}

.purple {
  color: #550202;
  font-weight: 400;
  cursor: pointer;
  font-weight: bold;
}

.purple:hover{
  color: #741c1c;
}

.rightBox {
  width: 80%;
  height: auto;
  background-color: white;
  margin: 10%;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 1199px) and(min-width:768px) {
  .rightBox {
    width: 90%;
    margin: 5% 0% 5% 10%;
  }
}
@media (max-width: 440px) {
  .rightBox {
    width: 90%;
    margin: 5%;
  }
}
