@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.footer {
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.link {
  color: white;
  line-height: 40px;
  font-size: medium;
}
.link:hover {
  color: floralwhite;
  text-decoration: underline;
}

.linktitle {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .footersection {
    text-align: center;
  }
}
.fa {
  color: black;
}

.socialicon {
  box-sizing: border-box;
  border-radius: 50%;
  background: white;
  margin: 2px 5px 2px 5px;
  padding: 6px 10px;
}

.subtitle {
  color: rgb(97, 93, 93);
  font-size: small;
}
