.button {
  height: 48px;
  width: 100%;
  background: #550202;
  border-color: #550202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  font-size: large;
}

.button:hover{
  background-color: #741c1c;
}

.google_logo{
  color: #550202;
  font-weight: 500;
}

.google_logo:hover{
  color: #550202;
  font-weight: 500;
}

.check {
  font-size: small;
  width: 50%;
  display: inline-flex;
  color: #858585;
}

#checkBox {
  cursor: pointer;
}

.forget {
  font-size: small;
  width: auto;
  color: #550202;
  display: inline-flex;
  cursor: pointer;
  font-weight: bold;
}

.brownColor {
  color: #550202;
  font-weight: 500;
}

.forget:hover{
  text-decoration: none;
  color: #741c1c;
}

.fontsmall {
  font-size: small;
  color: #858585;
}

.mt-4{
  color: #550202;
}

.google_logo {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.linkedin_logo {
  height: 22px;
  width: 22px;
}

.hr {
  display: inline-flex;
  width: 40%;
  border-top: 1.5px solid #cfcfcf;
  margin-bottom: 2px;
}

.inputbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.inputbox:hover {
  border: 1.5px solid #550202;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.register {
  color: #550202;
  cursor: pointer;
  font-weight: bold;
}

.register:hover{
  text-decoration: none;
  color: #741c1c;
}

.rightBox {
  width: 80%;
  height: auto;
  background-color: white;
  margin: 10%;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
}

@media (max-width: 1199px) and(min-width:768px) {
  .rightBox {
    width: 90%;
    margin: 5% 0% 5% 10%;
  }
}

@media (max-width: 440px) {
  .rightBox {
    width: 90%;
    margin: 5%;
  }
}
