.button {
  height: 48px;
  width: 100%;
  background: #29ab87;
  border-color: #29ab87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  font-size: large;
  margin-left: 55px;
}

.inputbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.inputbox:hover {
  border: 1.5px solid #29ab87;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.check {
  font-size: small;
  width: 50%;
  display: inline-flex;
  color: #858585;
}

.fontsmall {
  font-size: small;
  color: #858585;
}
.fontgreen {
  color: #29ab87;
}
.logo {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.purple {
  color: #767bfe;
  font-weight: 400;
  text-align: center;
}
.rightBox {
  width: 80%;
  height: auto;
  background-color: white;
  margin: 10%;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 1199px) and(min-width:768px) {
  .rightBox {
    width: 90%;
    margin: 5% 0% 5% 10%;
  }
}
@media (max-width: 440px) {
  .rightBox {
    width: 90%;
    margin: 5%;
  }
}

.tagline{
  text-align: center;
}