.projects_header {
  color: #727bf2;
  text-align: center;
  margin-top: 3%;
}

.image {
  border-radius: 40px;
  max-height: 240px;
}

.project {
  margin-top: 6%;
  margin-bottom: 6%;
}

.date {
  color: #767bfe;
  font-size: 1rem;
}

.project_name {
  margin-top: 3%;
  color: #4b4a4a;
  font-size: 1.5rem;
  font-weight: 625;
}

.project_matter {
  margin-top: 3%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #969696;
}

.all_icons {
  margin-top: 5%;
}
  
.icon {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}
  