@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.brand_intro {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3.5rem;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
